body{
	margin: 0;
	background: #f0dab4;
}
header{
	background: rgb(241 244 165);
	padding: 5px 0 15px 0;
}
h1{
	margin: 15px auto;
	color: #6c2b8782;
	text-align: center;
	font-size: 50px;
	font-weight: normal;
}

p{
	margin-block-start: 0;
    margin-block-end: 0.2em;
}
.inputlabel
{
	margin-left: 10%;
}
.inputbox
{
	text-align:center;
	margin-bottom: 0.4em;
	margin-right: 20px;
	margin-left: 10%;
}
.title
{
	font-family:  cursive;
}
.containerForCard
{
	position: relative;
	width: 40%;
    margin: 30px auto;
    margin-bottom: 60px;
}
.containerForForm
{
	margin-left: 10%;
}
.card {
	padding: 5% 5%;
	background-color: hsl(35deg 67% 80%);
	box-shadow: 0 5px 20px #7c7c7c;
	border-radius: 12px;
}
.card_list{
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 30px;
	padding: 0;
	list-style-position: inside;
	font-size: 18px;
	font-family: GraphikCy-Medium,'Helvetica CY',Arial,sans-serif;
	color: #e3e3e3;
	line-height: 28px;
	letter-spacing: 1px;
}